In [ ]:
print('hello')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [10]:
# Series

series = pd.Series(["BMW", "Toy", "Benz"])
series

0     BMW
1     Toy
2    Benz
dtype: object

In [11]:
# DataFrame

df = pd.DataFrame({"Brand": series, "Price": ["2M", "1M", "3M"]})
df

  Brand Price
0   BMW    2M
1   Toy    1M
2  Benz    3M

In [ ]:
car_sales = pd.read_csv('car-sales.csv')
car_sales.to_csv("exported-car-sales.csv", index=False)

#car_sales.to_excel('export-car-sales.xlsx')

In [17]:
export_car_sales = pd.read_csv('exported-car-sales.csv')
export_car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [16]:
heart_disease = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [33]:
stock = pd.read_csv('product.csv')
stock[stock['Brand'] == 'SCG']

,Item Name,SKU,Brand,Spec,Cat_ID,Photo_1,Photo_2,Photo_3,Photo_4,Photo_5,Activate
0,"ก้ามปูเหลือง18(1/2"")ช้าง",กป-50018-2,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
5,"กล่องพักสาย เหลือง[2x4""]ช้าง",กล-50001-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
6,"เข้ากล่องเหลือง18มม.(1/2"")ช้าง",ขก-50018-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
7,"ข้อต่อตรงเหลือง18มม.(1/2"")ช้าง",ขต-50018-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
181,ลูกฟูกเหลือง15มิล ช้าง,ทอ-51015-1,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
900,กิ๊บจับท่อเหลือง 18มิล/4หุน ช้าง,กบ-50018-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
902,ก้ามปูเหลือง 15/3หุน ช้าง,กป-50015-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
950,"กล่องพักสาย เหลือง[4x4""]ช้าง",กล-50002-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
958,เข้ากล่องเหลือง 15มม.(3หุน) ช้าง,ขก-50015-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
999,ข้อโค้งเหลือง 15มิล/3หุน ช้าง,ขง-50015-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
1060,ข้อต่อตรงเหลือง 15มม.(3หุน) ช้าง,ขต-50015-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
1066,"ข้อต่อตรงเหลือง 80มม.(3"") ช้าง",ขต-50080-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
1777,"ท่อ เส้นเหลือง15(3/8"")ช้าง",ทอ-50015-1,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
1784,ลูกฟูกเหลือง15มม.SCG,ทอ-50115-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
1788,ลูกฟูกเหลือง15มิล(5ม.)ช้างSCG,ทอ-50515-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
1791,ลูกฟูกเหลือง15มิล(10ม.)SCG,ทอ-51015-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN
2726,สามทางเหลือง 15มิล(3หุน) ช้าง,สท-50015-,SCG,NaN,1611.0,NaN,NaN,NaN,NaN,NaN,NaN