In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

ImportError: Unable to import required dependencies:
numpy:

IMPORTANT: PLEASE READ THIS FOR ADVICE ON HOW TO SOLVE THIS ISSUE!

Importing the numpy C-extensions failed. This error can happen for
many reasons, often due to issues with your setup or how NumPy was
installed.

We have compiled some common reasons and troubleshooting tips at:

    https://numpy.org/devdocs/user/troubleshooting-importerror.html

Please note and check the following:

  * The Python version is: Python3.8 from "/Users/sasinatthiwathittayanuphap/Desktop/Project/js/JavaScript_Test/py/env/bin/python3.8"
  * The NumPy version is: "1.19.2"

and make sure that they are the versions you expect.
Please carefully study the documentation linked above for further help.

Original error was: No module named 'numpy.core._multiarray_umath'

In [6]:
# Series

series = pd.Series(["BMW", "Toy", "Benz"])
series

NameError: name 'pd' is not defined

In [ ]:
# DataFrame

df = pd.DataFrame({"Brand": series, "Price": ["2M", "1M", "3M"]})
df

In [ ]:
car_sales = pd.read_csv('car-sales.csv')
car_sales.to_csv("exported-car-sales.csv", index=False)

#car_sales.to_excel('export-car-sales.xlsx')

In [17]:
export_car_sales = pd.read_csv('exported-car-sales.csv')
export_car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [16]:
heart_disease = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [10]:
# Groupby
car_sales = pd.read_csv('car-sales.csv')
car_sales.groupby(["Make"]).mean()

NameError: name 'pd' is not defined